/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-dic-2020, 19:36:30
    Author     : Manuel
*/

body{
    /*text-align: center;*/
    background-image: url("https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-thumb.jpg");
    /*("C:\Users\Manuel\Documents\NetBeansProjects\0012_Db_Bank_html\public_html\img\Fondo.jpg")*/
    background-repeat: no-repeat;
    background-size: 100%;
}

a{
    text-decoration: none;
}

a:hover{
   text-decoration: none;
}

#cabecera {
    text-align: center;
    padding-top: 22px;
    padding-bottom: 22px;
}

.container-fluidSpecial {
    padding-top: 5px;
    display: flex;
    justify-content: center;	    
}